@charset "utf-8";

/* ▼▼▼ Resposive Version ～PC First～ start ▼▼▼ */

/* ======== base ======== */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}
html {
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}
body {
	line-height: 1.6;
	font-family: "游ゴシック",sans-serif;
	font-size: 1.8rem;
	color: #444444;
}
.wrap{
    overflow: hidden;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	-ms-interpolation-mode: bicubic;
}
a{
	text-decoration: none;
	color:#444444;
}

a > img{
	transition: 0.2s;
}
a:hover{
	text-decoration: none;
}
a:hover > img{ /* 画像リンク⇒ホバー時に透過 */
	opacity: 0.8;
}
.txtLink a{
	text-decoration:underline;
}
.txtLink a:hover{
	text-decoration: none;
}
p.noticeTxt{ /* 文頭に"※"等がつく注意書き */
	padding-left: 1em;
	text-indent: -1em;
}
strong{
	font-weight: bold;
}
.commonInner{
    max-width: 1250px;
	margin: 0 auto;
}
.pcNone{
	display: none;
}
.br-pc{
	display:block;
}
.br-sp{
	display:none;
}

.commonDetailBtn__sp{
	display: none;
}

/* ======== header ======== */
header{
	background-color: #ffffff;
	height: 10vw;
}
.navWrapper .navWrapper__logo{
	float: left;
    max-width: 29vw;
    padding: 5px;
}
.navWrapper .navWrapper__logo :hover{
    box-shadow: 0 2px 10vw 0 rgba(0,0,0,0.14), 0 1px 10vw 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
		max-height: 100%
}

.navWrapper .snsWrapper{
	display: none;
}
/* ▽ グローバルナビゲーション ▽ */
.navWrapper .globalNav{
    float: right;
    height: 10vw;
    font-size: 1.7vw;
}
ul.globalNav__menu{
	display: flex;
	justify-content: space-between;
	height: 100%
}
ul.globalNav__menu > li{
	width:17vw;
	text-align: center;
}
ul.globalNav__menu > li a{
	display: block;
	color:#444444;
	font-weight: 500;
	position: relative;
	transition: 0.3s;
	padding-top: 5vw;
}
	ul.globalNav__menu > li a:hover{
	display: block;
	height: 100%;
	color:#444444;
	font-weight: 500;
	position: relative;
	background-color: #f1f1f1;
	transition: 0.3s;
}
ul.globalNav__menu > li a:before{
	content: "";
	    position: absolute;
	    margin-top: 4px;
	    width: 2vw;
	    height: 3vw;
	    background: url(../images/index_ic_001.png) no-repeat 0 0/13px 20px;
	    left: -0.5vw;
}
ul.globalNav__menu > li a:hover:after{
	content: "";
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1vw;
	background: #ef454a;
	transition: 0.3s;
}
ul.globalNav__menu > li.current{
	display: block;
	height: 100px;
	padding-top: 45px;
	padding-left: 20px;
	background-color: #ef454a;
	color:#ffffff;
	font-weight: 500;
	position: relative;

}
ul.globalNav__menu > li.current:before{
	content: "";
	position: absolute;
	top:50%;
	left:20px;
	margin-top:-3px;
	width:13px;
	height:20px;
	background: url(../images/index_ic_002.png) no-repeat 0 0/13px 20px;
}

/* ======== main ======== */

/* ▽ メインビジュアル ▽ */
.mainVisual,
.topImage{
	position: relative;
	text-align: center;
	z-index: 0;
}
.topImage .topImage__img{
	z-index: 0;
}
.mainVisual .mainVisual__txt,
.topImage .topImage__txt{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	color:#ffffff;
	font-weight: 500;
    width: 100%
}
.topImage .topImage__txt{
	color:#333333;
}
.topImage .topImage__txt{
	font-size: 2.4rem;
}
.txt__main{ /* ※indexのみ */
	font-size: 5vw;
	line-height:1;
  text-shadow: 0 0 50px #ffc2c4, 0 0 0px rgba(0,0,0,.1);
  letter-spacing: 0.2rem;
}
.mainVisual .mainVisual__txt .txt__sub{ /* ※indexのみ */
	font-size: 2vw;
	line-height:1.5;
	padding-top: 20px;
    text-shadow: 0 0 25px #ffc2c4, 0 0 0px rgba(0,0,0,.1);
}
#activity .topImage .topImage__txt{ /* ※indexのみ */
	color:#ffffff;
}

.mainVisual__img{
    box-sizing:content-box;
}
/* ▽ スクロール（down）ボタン ▽ */
.mainVisual__scroll-down a{
	position: absolute;
	bottom:23px;
	left:50%;
	margin-left:-4rem;
    padding-bottom: 1.5vw;
	text-decoration: none;
/*	letter-spacing: 0.1rem;*/
	color:#ffffff;
}
.mainVisual__scroll-down a:hover{
	opacity: 0.7;
}
.mainVisual__scroll-down span{
	position: absolute;
	bottom: -0.5vw ;
	left: 55%;
	width: 15px;
	height: 15px;
	margin-left: -12px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* ======== main -content- ======== */

/* ▽ セクション ▽ */
#mainContent .commonSection{
	padding:100px 0;
}
#mainContent > section:nth-of-type(odd){ /* 共通 */
	background-color:#f1f1f1;
}
section.commonSection section:not(:first-of-type){
	padding-top:150px;
}
/* ▽ ※背景個別設定 ▽ */
#index #mainContent > section:nth-of-type(1){ /* indexのみ */
	background-color:#ffffff;
}
#about #mainContent > section:nth-of-type(3){ /* aboutのみ */
	background-color:#e0efb2;
}
#about  #mainContent > section:nth-of-type(5){ /* aboutのみ */
	background-color:#ffffff;
}
#trial #mainContent > section:nth-of-type(1){ /* trialのみ */
	background-color:#ffffff;
}
#activity #mainContent > section:nth-of-type(5){ /* trialのみ */
	background-color:#ffffff;
}
#join #mainContent > section:nth-of-type(1){ /* trialのみ */
	background-color:#ffffff;
}
/* ▽ 大見出し ▽ */
.sectionContent > h2{
	font-size: 4.2rem;
	line-height: 1;
	margin-bottom:60px;
	text-align: center;
	font-weight: bold;
}
.sectionContent h2 + p{
	text-align: center;
}

/* ▽ ボタン ▽ */

.commonDetailBtn a,button.formSendBtn{
	display:block;
	padding: 10px;
	max-width: 700px;
	width:100%;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	border-radius: 30px;
	border: 2px solid #ef454a;
	position:relative;
	transition: 0.3s;
	color:#ffffff;
	text-decoration: none;
	background: #ff6c4a url(../images/index_bg_001.png) repeat-y;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
}
.commonDetailBtn a:before, button.formSendBtn:before{
	content: "";
	position: absolute;
	top:50%;
	left: 40px;
	width:13px;
	height:20px;
	margin-top:-10px;
	background: url(../images/index_ic_002.png) no-repeat 0 0/13px 20px;
}
.commonDetailBtn a:hover,button.formSendBtn:hover{
	color:#ef454a;
	border: 2px solid #ef454a;
	background:none;
	background-color: #ffffff;
}
.commonDetailBtn a:hover:before, button.formSendBtn:hover:before{
	background: url(../images/index_ic_001.png) no-repeat 0 0/13px 20px;
}
.sectionContent .commonDetailBtn, button.formSendBtn{
	margin: 0 auto;
	width:700px;
	margin-top:40px;
    margin-bottom: 40px;
}
/* △ ボタン △ */

/* ▽ テキストリンク ▽ */
.txtLink a{
	position: relative;
	padding:0 26px;
}
.txtLink a:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width:13px;
	height:20px;
	background: url(../images/index_ic_001.png) no-repeat 0 0 /13px 20px;
}
.txtLink a:after{
	content: "";
	position: absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	background: url(../images/index_ic_004.png) no-repeat 0 0 /20px 20px;
}
/* △ テキストリンク △ */



/* ▽ コンテンツ -【index】▽ */
section.commonSection .summary__content{
	display: -webkit-box;
	display: -webkit-flex;
	display:-ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
}
section.commonSection section.summary .summary__txtWrapper{
	width: 550px;
	line-height: 1.8;
    margin-left: 20px;
    margin-right: 20px;

}
section.commonSection h2.summary__heading{
	display: inline-block;
	margin-bottom:40px;
	margin-left:20px;
	margin-right:20px;
	font-size: 3.4rem;
	font-weight: 600;
	position: relative;
	z-index:1000;

}
section.commonSection h2.summary__heading:before{
	display: inline-block;
	position: absolute;
	top:15px;
	right:-190px;
	font-size: 5rem;
	color: #fce2e3;
	font-weight: normal;
	z-index: -1;
}
section.commonSection .personality h2.summary__heading:before{
	content: "Personality";

}
section.commonSection .individualAbility h2.summary__heading:before{
	content: "Individual";
}
section.commonSection .continue h2.summary__heading:before{
	content: "Continue";
}
section.commonSection h2.summary__heading > span{
	position:relative;
}

section.commonSection h2.summary__heading > span:before{
	content: "";
	position: absolute;
	bottom:-6px;
	left:0;
	width:100%;
	height: 8px;
	background-color: #ffc2c4;
	border-radius: 30px;
}
section.commonSection .summary .summary__img, .snsWindow{
	width: 550px;
}

/* ▽ ボタン【部分】 ▽ */
section.commonSection section.summary .commonDetailBtn{
	margin-top: 60px;
	width:100%; /* スタイル打消し */
}
/* △ ボタン【部分】 △ */



/* ▽ コンテンツ -【about】▽ */

/* ▽ about - Pigeonができること ▽ */
ul.possible{
	display: flex;
	justify-content: space-between;
	padding-top:40px;
}
ul.possible > li{
	width:410px;
	text-align: center;
	background-color: #ffffff;
	padding:30px 20px;
}
ul.possible > li dt{
	font-weight: bold;
	font-size: 2.4rem;
}
ul.possible > li dd{
	padding-top:20px;
}

/* ▽ about - 沿革 ▽ */
.history > dl{
	border-bottom:1px solid #cccccc;
	display: flex;
	padding: 20px 40px;
}
.history > dl dd{
	margin-left:80px;
}

/* ▽ about - 代表の紹介 ▽ */
.introduce{
	display: flex;
	justify-content: space-between;
}
.introduce dl{
	width:630px;
	background-color:#f1f1f1;
	padding:20px;
	padding-left:250px;
	position: relative;
}
.introduce dl:before{
	content: "";
	position: absolute;
	top:50%;
	left:20px;
	width:200px;
	height:200px;
	margin-top:-100px;
}
.introduce dl.introduce__01:before{
	background: url(../images/index_ph_001.png) no-repeat;
}
.introduce dl.introduce__02:before{
	background: url(../images/index_ph_002.png) no-repeat;
}
.introduce .introduce__position{
	font-weight: bold;
	font-size: 20px;
}
.introduce dd{
	padding-top:16px;
}
.introduce + .txtLink{
	text-align:center;
	margin-top:60px;
}

/* ▽ コンテンツ -【activity】▽ */

/* ▽ activity - 練習を通して何を伝えるか ▽ */
ul.convey{
	display: flex;
	justify-content: space-between;
}
ul.convey > li{
	width:410px;
	text-align: center;
	background-color: #ffffff;
}
ul.convey dl.convey__content{
	padding:20px;
}
ul.convey dl.convey__content > dt{
	padding-bottom:10px;
	border-bottom:1px solid #cccccc;
	font-weight:bold;
	font-size: 2rem;
}
ul.convey dl.convey__content > dd{
	padding-top:10px;
}


/* ▽ activity - エピソード ▽ */
.episode > dl{
	padding:20px 0 20px 200px;
	position: relative;
}
.episode > dl:before{
	content: "";
	position: absolute;
	top:50%;
	left:0;
	width:160px;
	height:160px;
	margin-top:-80px;
	background: url(../images/index_im_001.png) no-repeat;
}
.episode > dl dt{
	font-weight: bold;
	font-size: 20px;
	padding-bottom:10px;
}

/* ▽ activity - 一日のスケジュール ▽ */
.dailySchedule{
	width:580px;
	margin: 0 auto;
}
.dailySchedule > dl{
	display: flex;
	justify-content: space-between;
}
.dailySchedule > dl:not(:first-child){
	margin-top:30px;
}
.dailySchedule > dl dt{
	padding-left:70px;
	padding-top:10px;
	position: relative;
}
.dailySchedule > dl dt:before{
	content: "";
	position: absolute;
	top:50%;
	left:0;
	margin-top:-25px;
	width:50px;
	height:50px;
	background: url(../images/index_ic_005.png) no-repeat;
}
.dailySchedule > dl dd{
	display: block;
	width:400px;
	padding: 10px 20px;
	background-color: #ffffff;
	border-radius: 5px;
	position: relative;
}
.dailySchedule > dl:not(:last-child) dd:before{
	content: "";
	position: absolute;
	bottom:-32px;
	left:50%;
	margin-left:-8px;
	width:auto;
	height:auto;
	border-top: 16px solid #ffffff;
	border-right: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 16px solid transparent;
}
.eventOutline{
	width:700px;
	margin: 0 auto;
}
.eventOutline > dl:after{
	content: "";
	display: block;
	clear: both;
}
.eventOutline > dl:not(:first-child){
	margin-top:10px;
}
.eventOutline > dl dt,
.eventOutline > dl dd{
	float: left;
}
.eventOutline > dl dt{
	width:80px;
	padding-bottom: 3px;
	position: relative;
	font-weight: 500;
	font-size: 2rem;
}
.eventOutline > dl dt:before{
	content: "";
	position: absolute;
	bottom:0;
	left:0;
	width:2em;
	height:5px;
	background-color: #b2d83e;
	border-radius: 20px;
}
.eventOutline > dl dd{
	width:620px;
	padding-top: 5px;
}
.eventMap{
	margin-top: 40px;
	text-align: center;
}
.eventMap iframe{
	width:1000px;
	height:400px;
}

/* ▽ コンテンツ -【trial】▽ */
.formWrapper{
	width: 1100px;
	margin:0 auto;
	margin-top:40px;
}
.formWrapper > div{
	margin-top:40px;
}
.formWrapper table.form{
	width: 100%;
	margin-top:20px;
}
input[type="text"]{
	width:320px;
	height: 100%;
	padding: 15px;
	border-style: none;
	background-color: #f6f7f8;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}


textarea{
	width:75%;
	height: 200%;
	padding: 10px;
	border-style: none;
	background-color: #f6f7f8;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
table.form th,
table.form td{
	vertical-align: middle;
	border-bottom: 20px solid #ffffff;
}
.form__label{
	width:300px;
	padding: 10px 40px;
    text-align: center;
	font-weight: bold;
	color:#ffffff;
	background-color: #a6ca3a;
	border-right: 20px solid #ffffff;
}


/*formのラジオボタン・チェックボックス*/
input[type=radio], input[type=checkbox] {
  display: none;
border-radius: 0;
box-shadow: none;
border-radius: 50%;

}
.radio, .checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.row2 .form__checkList{
	display: flex;
}

.radio:hover, .checkbox:hover {
  background-color: #e2edd7;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;

}
.radio:hover:after, .checkbox:hover:after {
  border-color: #53b300;
}
.radio:after, .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}
.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #53b300;
  content: '';
  opacity: 0;
}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}
.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

.row2.radio{
    float: left;
}
/*end*/

.form__title{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}
.contact + p{
	text-align: right;
}

/* ▽ コンテンツ -【join.html】▽ */
.tab{
	margin-top:40px;
	display: flex;
	justify-content:center;
}
.tab > li{
	width:100%;
	padding:10px;
	text-align: center;
	background-color: #b2d83e;
	color:#ffffff;
	border-radius: 10px 10px 0 0;
	border-top:2px solid #b2d83e;
	border-right:2px solid #b2d83e;
	border-left:2px solid #b2d83e;
	font-weight: bold;
}
.tab > li.select{
	background-color: #ffffff;
	color:#333333;
	border-top:2px solid #b2d83e;
	border-right:2px solid #b2d83e;
	border-left:2px solid #b2d83e;
	margin-bottom:-2px;
	font-size: 2rem;
}
.tab > li:not(:first-child){
	margin-left:20px;
}
.tab > li:last-child{ /*余った余白調整*/
	margin-left:21px;
}
.tab > li:hover{
	cursor: pointer;

}
.tabContent > li{
	padding:60px;
	background-color: #ffffff;
	display: none;
	border: 2px solid #b2d83e;
}
.tabContent > li:first-child{
	display: block;
}
.tabContent__box h3{
	text-align:center;
	font-weight: bold;
	font-size: 2.4rem;
}
.tabContent__box ul.snsWrapper__btn {
    display: flex;
    justify-content: left;
    position: inherit;
    padding-bottom: 25px
}
.tabContent__box__tw{
    background: linear-gradient(transparent 90%, #1da1f2 50%);
}
.tabContent__box__fb{
    background: linear-gradient(transparent 90%, steelblue 50%);
    margin-left: 10px;
}
.tabContent__box__PrivateQuestion{
    background: linear-gradient(transparent 90%, sandybrown 50%);
}
.snsPrivateQuestion{
    padding-left:40px;
}
.snsPrivateQuestion img{
    width:56px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 50%;
}
.snsPrivateQuestion img:hover{
    width: 60px;
    height: 60px;
}



/* ======== footer ======== */
footer{

}
footer .footer-action{
	padding: 40px 0 30px;
	background-color: #eeeeee;
}
footer .footer-action__btnWrapper{
	margin-bottom:60px;
	position: relative;
}
footer .footer-action .questionBtn{
	text-align: center;
}
footer .footer-action .questionBtn a{
	display: inline-block;
	min-width: 680px;
	margin: 0 auto;
	padding: 10px;
	background-color: #ef454a;
	color:#ffffff;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	border-radius: 30px;
	position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
}
footer .footer-action .questionBtn a:hover{
	background-color: #eeeeee;
	border: 2px solid #666666;
	color:#444444;
	font-weight: bold;
}
footer .footer-action .questionBtn a:before{
	content: "";
	display: inline;
	position: absolute;
	top:50%;
	left:40px;
	margin-top:-10px;
	width:13px;
	height:20px;
	background: url(../images/index_ic_002.png) no-repeat 0 0/13px 20px;
}
footer .footer-action .questionBtn a:hover:before{
	background: url(../images/index_ic_003.png) no-repeat 0 0/13px 20px;
}
footer .footer-action .snsWrapper{
	position: absolute;
    top: 1px;
	right:7%;
}
ul.snsWrapper__btn{
	display: flex;
	justify-content: space-between;
	position: relative;
}
ul.snsWrapper__btn:before{
	content: "";
	position: absolute;
	top:-63px;
	width:270px;
	height:60px;
	background: url(../images/follow_me.png) no-repeat;
    background-size: 75%;
}
ul.snsWrapper__btn > li{
	width:65px;
	height:65px;
    padding-left: 40px;
}
ul.snsWrapper__btn > li a{
	display: block;
	width:56px;
	height:56px;
	border-radius: 50%;
	position: relative;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef454a+0,ff6c4a+100 */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
}
ul.snsWrapper__btn .snsBtn__tw a{
    background: -webkit-linear-gradient(left, #1da1f2 0%,#1da1f2 100%);
}
ul.snsWrapper__btn .snsBtn__fb a{
    background: -webkit-linear-gradient(left, steelblue 0%,steelblue 100%);
}


ul.snsWrapper__btn > li a:hover{
	width:60px;
	height:60px;
}
footer .footer-action .questionBtn a:hover {
    background-color: #eeeeee;
    border: 2px solid #666666;
    color: #444444;
    font-weight: bold;
}

ul.snsWrapper__btn > li a:before{
	content: "";
	position: absolute;
	top:50%;
	left:50%;
}
ul.snsWrapper__btn > li.snsBtn__tw a:before{
	width:40px;
	height:32px;
	margin-top:-15px;
	margin-left:-18px;
	background:url(../images/index_ic-sns_001.png) no-repeat;
}
ul.snsWrapper__btn > li.snsBtn__fb a:before{
	width:22px;
	height:44px;
	margin-top:-22px;
	margin-left:-12px;
	background:url(../images/index_ic-sns_002.png) no-repeat;
}
footer .footer-infomation{
	color: white;
	padding: 20px 0;
	height: 100px;
	background-color: #666666;
	position: relative;
	text-align: center;
}
footer .footer-infomation .pageTop-up{
	text-align:center;
	position: absolute;
	top:-50px;
	left:50%;
	margin-left:-50px;
}
footer .footer-infomation .pageTop-up a{
	display: inline-block;
	padding-top: 20px;
	min-width:100px;
	min-height:50px;
	color: white;
	background-color: #666666!important;
	border-radius: 50% 50% 0 0/100% 100% 0 0;
	position: relative;
}
footer .footer-infomation .pageTop-up a:hover{
	opacity: 0.8;
}
footer .footer-infomation .pageTop-up a:before{
	content: "";
	position: absolute;
	top:5px;
	left:50%;
	width:20px;
	height: 13px;
	margin-left:-10px;
	background: url(../images/index_ic_006.png) no-repeat 0 0/20px 13px;
}
footer .footer-infomation .footer-infomation__logo{
	width:200px;
}
footer .copyright{
    font-size: 14px;
    margin-top: -50px;
    position: absolute;
    left: 215px;
    text-align: left;
}

/* ▽ transition ▽ */
ul.globalNav__menu > li a,
ul.globalNav__menu > li a:before,
ul.globalNav__menu > li a:after,
.mainVisual__scroll-down a,
.txtLink a,
section.commonSection .summary .commonDetailBtn,button .commonDetailBtn
section.commonSection .summary .commonDetailBtn a,
section.commonSection .summary .commonDetailBtn a:hover, button .commonDetailBtn:hover
footer .footer-action .questionBtn a,
footer .footer-action .questionBtn a:before,
footer .footer-infomation .pageTop-up a,ul.snsWrapper__btn > li a:hover,.snsPrivateQuestion img:hover{
	transition: 0.3s;
}

/* ▽ clearfix ▽ */
.navWrapper:after{
	content: "";
	display: block;
	clear: both;
}
/* ▲▲▲ Resposive Version ～PC First～ end ▲▲▲ */


/* ▼▼▼ 600px～ PC only ▼▼▼
================================*/
@media screen and (min-width: 600px), print {
	.sample {
	}
}
/* ▲▲▲ 600px～ PC only end ▲▲▲ */




/* ▼▼▼ ～599px For SP ▼▼▼
================================*/

@media screen and (max-width: 599px), print {
	.navWrapper{
		height: 100%;
	}
	ul.globalNav__menu > li a:before{
		width: 7vw;
    height: 7vw;
	}

	/* ▽ float解除 ▽ */
	.navWrapper .navWrapper__logo,
	.globalNav{
		float: initial;
		max-width: 50vw
	}
	/* ▽ display:flex解除 ▽ */
	ul.possible,
	.introduce,
	.history > dl,
	ul.convey,

    /* ▽ width指定解除 ▽ */
	ul.possible > li,
	ul.convey > li,
	.dailySchedule,
	.dailySchedule > dl dd,
	.introduce > dl,
	.eventOutline,
	.formWrapper,
	th.form__label,
	.formWrapper .address input,
	.eventMap iframe{
		width: 100%;
	}
	/* ▽ base ▽ */
	body {
		line-height: 1.6;
		font-size: 1.6rem;
	}
	a:hover{
		 pointer-events: none;
	}
	.spNone{
		display: none;
	}
	.br-pc {
		display:none;
	}
	.br-sp {
		display:block;
	}
	.commonInner {
		width: 100%;
/*        margin-top: 100px;*/

	}
	.commonDetailBtn{
		display: none;
	}
	.commonDetailBtn__sp{
		display: block;
	}
	.commonDetailBtn__sp {
		text-align: center;
		width: 100%;
	}
	.commonDetailBtn__sp a{
		display: block;
		width: 80%;
		background-color:#ef454a;
		color:#ffffff;
		text-align:center;
		padding:10px;
		font-size: 18px;
		border-radius: 40px;
        margin: auto;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	}
    .sp_display{
        display: none;
    }
	/* ======== header ======== */
	header{
		height: 70px;
	}
	.navWrapper{
		font-size: 1.8vw;
	}
	.navWrapper .navWrapper__logo {
	  	width: 200px;
	}
	.navWrapper .snsWrapper{
		display: block;
		margin-top:100px;
	}
	.navWrapper .snsWrapper .snsWrapper__btn{
		display: flex;
		justify-content: center;
	}

	/* ▽ グローバルナビゲーション ▽ */
	.navWrapper nav.globalNav {
		position: fixed;
		top: 0;
		right: -700px;
		width: 90%;
		height: 100%;
		padding-top: 0;
		background:#ffffff;
		font-size: 16px;
		box-sizing: border-box;
		z-index: 2;
	}
	.navWrapper nav.globalNav ul.globalNav__menu{
		display: block;
		margin-top:70px;
		padding: 0 10px;
	}
	.navWrapper nav.globalNav ul.globalNav__menu > li {
		display:block;
		width: 100%;
	}
	.navWrapper nav.globalNav ul.globalNav__menu > li:not(:first-child){
		border-top:1px solid #cccccc;
	}
	.navWrapper nav.globalNav ul.globalNav__menu > li a {
		height: initial;
		padding: 14px 10px;
		text-decoration: none;
		color: #444444;
	}
	.navWrapper .globalNav__btn {
		position: fixed;
		top: 10px;
		right: 10px;
		width: 50px;
		height: 50px;
		z-index: 3;
		border-radius: 3px;
		box-sizing: border-box;
		cursor: pointer;
		-webkit-transition: all 400ms;
		transition: all 400ms;
		background-color: #ef454a;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	}
	.navWrapper .globalNav__btn span {
		position: absolute;
		width: 30px;
		height: 4px;
		top: 2px;
		left: 50%;
		margin-left:-15px;
		background: #ffffff;
		border-radius: 10px;
		-webkit-transition: all 400ms;
		transition: all 400ms;
	}
	.navWrapper .globalNav__btn span:nth-child(1) {
		top: 10px;
	}
	.navWrapper .globalNav__btn span:nth-child(2) {
		top: 20px;
	}
	.navWrapper .globalNav__btn span:nth-child(3) {
		top: 30px;
	}
	.navWrapper .globalNav__btn.open {
		background-color: #666666;
	}
	.navWrapper .globalNav__btn.open span {
		background: #fff;
	}

	/* ======== main ======== */

	/* ▽ メインビジュアル ▽ */
    .txt__main{
        font-size: 10vw;
    }
    .mainVisual .mainVisual__txt div.txt__sub{
        white-space: nowrap;
        font-size: 4vw;
    }
    .mainVisual__img img{
        max-width: 300%;
        max-height: 300px;
        object-fit: cover;
    }
	/* ▽ スクロール（down）ボタン ▽ */
	.mainVisual__scroll-down a{
		bottom:-100px;
		margin-left:-10px;
	}

	/* ▽ セクション ▽ */
	#mainContent .commonSection {
		padding: 60px 0;
	}
	section.commonSection section:not(:first-of-type) {
  		padding-top: 60px;
	}

	/* ▽ セクション - 見出し ▽ */
    section.commonSection .individualAbility h2.summary__heading:before {
    content: "Individual";
    }
    section.commonSection h2.summary__heading {
    font-size: 2.4rem;
    margin-bottom: 20px;
}
    section.commonSection h2.summary__heading:before {
        left: 120px;
        font-size: 4.4rem;
    }

    section.commonSection .summary h3.summary__heading {
		margin-bottom: 20px;
		font-size: 2.4rem;
	}
	section.commonSection h3.summary__heading:before {
		position: absolute;
		top: 10px;
		right: -100px;
		font-size: 5rem;
		color: #fce2e3;
		font-weight: normal;
		z-index: 200;
	}

	/* ▽ contents ▽ */
	section.commonSection .summary .summary__txtWrapper {
	  	width: 100%;
	}
	section.commonSection .summary .summary__txtWrapper .txt{
		padding-top:20px;
	}
	section.commonSection .summary .commonDetailBtn__sp {
		margin-top: 20px;
	}
    section.commonSection .summary .commonDetailBtn__sp a:hover{
        color:#ef454a;
        border: 2px solid #ef454a;
        background:none;
        background-color: #ffffff;
    }
	section.commonSection .summary .summary__txtWrapper{
		order: 1;
	}
    section.commonSection .continue .summary__txtWrapper{
        order: 0;

    }
    .twitter-timeline{
        height: 100px;
    }
	ul.possible > li:not(:first-child){
		margin-top:60px;
	}
	ul.possible > li dd{
		text-align:left;
	}

	.history > dl {
	  padding: 20px 20px;
	}
	.history > dl dd {
	  margin-left: 0;
	}
	.introduce dl{
		padding: 120px 20px 20px 20px;
		z-index: 0;
		position: relative;
	}
	.introduce dl:not(:first-child){
		margin-top:20px;
	}
	.introduce dl:before {
	  content: "";
	  position: absolute;
	  top: 120px;
	  left: 50%;
	  width: 100px;
	  height: 100px;
	  margin-left: -50px;
	}
	.introduce dl.introduce__01:before {
	  background: url(../images/index_ph_001.png) no-repeat 0 0/100px 100px;
	}
	.introduce dl.introduce__02:before {
	  background: url(../images/index_ph_002.png) no-repeat 0 0/100px 100px;
	}
	.episode > dl {
		padding: 100px 0 20px 0;
	}
	.episode > dl:before {
		content: "";
		position: absolute;
		top: 80px;
		left: 50%;
		width: 80px;
		height: 80px;
		margin-left: -40px;
		background: url(../images/index_im_001.png) no-repeat 0 0/80px 80px;
	}
	.episode > dl:not(:first-child){
		margin-top:40px;
	}
	.dailySchedule > dl dt {
		min-width: 120px;
		padding-left: 34px;
		padding-top: 10px;
		position: relative;
	}
	.convey LI:not(:first-child){
		margin-top:20px;
	}
	.dailySchedule > dl dt:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -12px;
		width: 25px;
		height: 25px;
		background: url(../images/index_ic_005.png) no-repeat 0 0/25px 25px;
	}
	.tab > li{
		padding: 5px;
		font-size: 1.4rem;
	}
	.tab > li:not(:first-child) {
	  margin-left: 6px;
	}
	.tab > li.select {
	  font-size: 1.6rem;
	}
	.eventOutline > dl dd {
		width: 80%;
	}
	th.form__label,
	table.form th, table.form td{
		border-style: none;
        width: 100%;
        float: left;
	}
	/* ▽ form ▽ */
    .tabContent > li{
        padding: 0px;
    }
    .radio, .checkbox{
        margin:0;
    }
    .sectionContent .commonDetailBtn, button.formSendBtn,textarea{
        width: 100%;
    }
    .tabContent .contactSns{
        padding: 5px;
    }

	/* ======== footer ======== */
	.questionBtn a {
		display: block;
		min-width: 100%;
	}
    footer .footer-action .snsWrapper {
        right: 0;
    }
    ul.snsWrapper__btn > li{
        padding-left:0;
    }
    ul.snsWrapper__btn > li:not(:first-child){
        margin-left: 10px;
    }
    ul.snsWrapper__btn:before{
        background-size: 80%;
        top: -59px;
        left: -25px;
        width: 200px;
    }
    ul.snsWrapper__btn > li a{
        width:54px;
        height: 54px;
    }
    footer .footer-action__btnWrapper{
        padding-top: 80px;
    }
    .copyright{
        display: none;
    }
	footer .footer-infomation {
		padding: 5px;
		text-align:center;
        height: 110px;
        background-color: #666666;
	}
	footer .footer-infomation .footer-infomation__logo{
		width:60%;
		margin: auto;
        padding-top:10px;
	}
	footer .footer-infomation__logo + p {
		margin-top: 0;
		padding-top:10px;
	}
    footer .footer-action{
        padding: 40px 0 20px
    }
    footer .footer-action .questionBtn a {
        padding: 10px;
        min-width: 300px;
        background-color: #666666;
		display: block;
		width: 80%;
		background-color:#ef454a;
		color:#ffffff;
		text-align:center;
		padding:10px;
		font-size: 18px;
		border-radius: 40px;
        border-width: 0px;
	}

    }
    footer .footer-infomation .pageTop-up a{
        background-color: #666666;
    }
}
