<div class="mb-3 form-floating">
  <input class="form-control" id="symptom" name="symptom" list="datalistOptions" placeholder="選択または入力..." aria-label="Floating label select example">
    <datalist id="datalistOptions">
      <option value="自閉症スペクトラム障がい(ASD)">自閉症スペクトラム障がい(ASD)
      <option value="注意欠如/多動性障がい(ADHD)">注意欠如/多動性障がい(ADHD)
      <option value="学習障がい(LD)">学習障がい(LD)
      <option value="ダウン症候群">ダウン症候群
      <option value="知的障がい">知的障がい
      <option value="脳性まひ">脳性まひ
    </datalist>
  <label for="symptom">特性種別（任意）</label>
</div>
