<div class="mb-3 form-floating">
  <input class="form-control" id="symptom" name="symptom" list="datalistOptions" placeholder="選択または入力..." aria-label="Floating label select example">
  <!-- <input class="form-control" list="datalistOptions" id="select_fontname" placeholder="選択または入力..." data-formrun-required> -->
    <datalist id="datalistOptions">
      <option value="自閉症スペクトラム障害(ASD)">自閉症スペクトラム障害(ASD)
      <option value="注意欠如/多動性障害(ADHD)">注意欠如/多動性障害(ADHD)
      <option value="学習障害(LD)">学習障害(LD)
      <option value="ダウン症候群">ダウン症候群
      <option value="知的障害">知的障害
      <option value="脳性まひ">脳性まひ
    </datalist>
  <div data-formrun-show-if-error="symptom">特性種別を選択または入力してください</div>
  <label for="symptom">特性種別（任意）</label>
</div>
