.commonInner.sectionContent {
  max-width: 1250px;
  min-height: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
.commonInner.sectionContent .sectionContent-header {
  margin-bottom: 25px;
}
h1 {
  text-align: center;
  font-size: xxx-large;
  line-height: 1;
  margin-bottom: 60px;
  font-weight: bold;
}
h1, h2, h3, p, label, input, button, span{
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "游ゴシック", sans-serif;
}

.submitButton {
  max-width: 700px;
  width: 80%;
  border-radius: 30px;
  border: 2px solid #E05126;
  transition: 0.3s;
  color: #ffffff;
  background: #E05126 url(../img/effect/grazed_belt.png) repeat-y!important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  -webkit-tap-highlight-color: transparent;
}

.submitButton:hover {
  color: #E05126 !important;
  border: 2px solid #E05126 !important;
  background: none !important;
  background-color: #ffffff !important;
}


.attribute1.form-check{
  padding-left: 0;
}
h2.mb-3.mt-5, label.form-label{
  color: #6dab21;
  font-weight: bold;
}
.form-check-input:checked {
  background-color: #6dab21;
  border-color: #6dab21;
}
.btn-primary {
  background-color: #6dab21;
  border-color: #6dab21;
}
.privacy-note {
  border-bottom: solid;
  border-color: #6dab21;
  border-width: 2.5px;
  display: block;
  width: 230px;
  cursor: pointer;
}
select {
  cursor: pointer;
}
.form-control:focus{
  border-color: #6dab21;
}
.modal-footer .btn-primary {
  background: #6dab21;
}
input::-webkit-calendar-picker-indicator {
  display: none;
  opacity: 0;
}
