@import 'variables.css';

.whyVolunteerSectionTitle {
  text-align: left;
}

.whyVolunteer {
  text-align: left;
}

.heroBlockquote {
  color: var(--color-white);
}

.blockquote {
  font-family: var(--font-primary);
}

.memberTable thead {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-weight: lighter;
}

.blockquotePerson {
  color: var(--color-primary);
  font-size: 75px;
  margin-right: 10px;
}

.enrichText {
  color: var(--color-primary);
  font-weight: var(--font-weight-bolder);
  padding: 0;
  margin: 0;
}

.btn-outline-primary {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.btn:first-child:hover,
:not(.btn-check)+.btn:hover {
  border-color: var(--color-accent);
  color: var(--color-white);
  background-color: var(--color-accent);
}

main#main {
  background: var(--color-background);
}

p {
  line-height: 2;
}



.blockquoteDecoration {
  position: relative;
  border-left: 3px solid var(--color-primary);
  padding-left: 10px;
}

.blockquoteDecoration:before {
  position: absolute;
  content: '"';
  font-size: 45px;
  color: var(--color-primary);
}

.blockquoteDecoration p {
  position: relative;
  padding-left: 30px;
}

.blockquoteDecoration cite {
  display: block;
  font-size: var(--font-size-smaller);
  color: var(--color-primary);
  text-align: left;
}

.blockquoteDecoration.normalFontWSize {
  font-size: medium;
}
.greenBkButton {
  background-color: var(--color-primary);
  border-color: transparent;
  color: var(--color-white);
}

.greenBkButton:hover {
  background: var(--color-primary-hover);
  color: var(--color-white);
  border-color: transparent;
  transition: var(--transition-speed);
}

a.smallIconLink {
  margin-top: 0px!important;
}

a.smallIconLink i::before{
  font-size: 14px!important;
  margin-top: 6px;
}
a.smallIconLink .bi-box-arrow-up-right::before {
  font-size: 23px;
  color: var(--color-text-light);
}

a.smallIconLink span {
  display: inline!important;
  font-size: 14px !important;
  line-height: 0px!important;
  margin-left: 5px!important;
}

/* Fix for the contact button to be responsive */
.section-title h4.text-center {
  display: flex;
  justify-content: center;
}

.submitButton {
  display: inline-block;
  width: 90%; /* Use percentage instead of fixed width */
  max-width: 550px; /* Set max-width instead of min-width */
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color-cta);
  color: var(--color-white);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  text-align: center;
  border-radius: var(--border-radius-button);
  position: relative;
  box-shadow: var(--shadow-button);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  transition: var(--transition-speed);
}

.submitButton:hover {
  background-color: var(--color-gray-light);
  border: 2px solid var(--color-gray-dark);
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
}
