.whyVolunteerSectionTitle {
  text-align: left;
}

.whyVolunteer {
  text-align: left;
}

.heroBlockquote {
  color: white
}

.blockquote {
  font-family: "游ゴシック", sans-serif;
}

.memberTable thead {
  color: white;
  background-color: #5D9A1F;
  border-color: #5D9A1F;
  font-weight: lighter;
}

.blockquotePerson {
  color: #5D9A1F;
  font-size: 75px;
  margin-right: 10px;
}

.enrichText {
  color: #5D9A1F;
  font-weight: bolder;
}

.btn-outline-primary {
  border-color: #E05126;
  color: #E05126;
}

.btn:first-child:hover,
:not(.btn-check)+.btn:hover {
  border-color: #E05126;
  color: white;
  background-color: #E05126;
}

main#main {
  background: #F6F6E8;
}

p {
  line-height: 2;
}
