.whyVolunteerSectionTitle {
  text-align: left;
}

.whyVolunteer {
  text-align: left;
}

.heroBlockquote {
  color: white
}

.blockquote {
  font-family: "游ゴシック", sans-serif;
}

.memberTable thead {
  color: white;
  background-color: #5D9A1F;
  border-color: #5D9A1F;
  font-weight: lighter;
}

.blockquotePerson {
  color: #5D9A1F;
  font-size: 75px;
  margin-right: 10px;
}

.enrichText {
  color: #5D9A1F;
  font-weight: bolder;
}

.btn-outline-primary {
  border-color: #E05126;
  color: #E05126;
}

.btn:first-child:hover,
:not(.btn-check)+.btn:hover {
  border-color: #E05126;
  color: white;
  background-color: #E05126;
}

.submitButton {
  border-radius: 30px;
  border: 2px solid #E05126;
  transition: 0.3s;
  color: #ffffff;
  background: #E05126 !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  -webkit-tap-highlight-color: transparent;
}

.submitButton:hover {
  color: #E05126 !important;
  border: 2px solid #E05126 !important;
  background: none !important;
  background-color: #ffffff !important;
}

main#main {
  background: #F6F6E8;
}

p {
  line-height: 2;
}
