<div class="input-group">
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput1" placeholder="山田" name="name1" data-formrun-required>
    <div data-formrun-show-if-error="name1">姓を正しく入力してください</div>
    <label for="floatingInput1">姓</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput2" placeholder="太郎" name="name2" data-formrun-required>
    <div data-formrun-show-if-error="name2">名を正しく入力してください</div>
    <label for="floatingInput2">名</label>
  </div>
</div>
